*{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.jd_box{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background-color: rgb(252,244,253);
}
.jd_box>.jd_head{
	position: fixed;
	left: 0;
	top: 0;
	height: 44px;
	width: 100%;
	z-index: 1000;
}
.jd_box>.jd_head>.jd_title{
	background-color: rgba(199,21,33,1);
	height: 100%;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.jd_box>.jd_head>.jd_title>.jd_logo{
	width: 60px;
	height: 25px;
	background-image: url(../images/logo.jpg);
	background-size: 60px 25px;
	margin: 0 5px;
}
.jd_title>form{
	flex:1;
	position: relative;
}
.jd_title>form>.jd_search{
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url(../images/search.png);
	background-size: 20px 20px;
	left: 5px;
	top: 5px;
}
.jd_title>form>input{
	width: 100%;
	height: 30px;
	border-radius: 15px;
	padding-left: 25px;
}
.jd_title>.jd_login{
	width: 50px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 15px;
}
.jd_banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.jd_banner>.image_box{
	width: 1000%;
	overflow: hidden;
	transform: translateX(-10%);
}
.jd_banner>.image_box>li{
	width: 10%;
	float: left;
}
.jd_banner>.image_box>li>a,.jd_banner>.image_box>li>a>img{
	width: 100%;
	display: block;
}
.jd_banner>.point_box{
	width: 160px;
	height: 10px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -68px;
	overflow: hidden;
}
.jd_banner>.point_box>li{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border:1px solid #fff;
	float: left;
	margin-left: 10px;
}
.jd_banner>.point_box>li:nth-child(1){
	margin-left: 0
}
.jd_banner>.point_box>li.current{
	background-color: #fff;
}
.jd_nav{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e0e0e0;
	background-color: white;
}
.jd_nav>.jd_nav_first,.jd_nav>.jd_nav_second{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 10px;
}
.jd_nav>.jd_nav_first>div,.jd_nav>.jd_nav_second>div{
	width: 60px;
	height: 80px;
}
.jd_nav>.jd_nav_first>div>img,.jd_nav>.jd_nav_second>div>img{
	width: 100%;
	display: block;
}
.jd_nav>.jd_nav_first>div>p,.jd_nav>.jd_nav_second>div>p{
	text-align: center;
	color: #333;
}
.title_text{
	float:left;
	font-size:20px;
	color:red;
	margin-left:8px;
}
.title_time{
	float:left;
	font-size:20px;
	margin-left:10px;
}
.jd_product{
	margin-top:8px;
	background-color:white;
	border:1px solid rgb(242,237,242);
}
.title_right{
	float:right;
	font-size:20px;
}
.title_left>.icon_clock{
	display:inline-block;
	background-image:url(../images/clock.png);
	background-size:25px 25px;
	width:25px;
	height:25px;
	float:left;
}
.title_left>.title_time>.annotation{
	background-color:white;
	color:black;
}
.title_left>.title_time>span{
	display:inline-block;
	background-color:black;
	font-size:20px;
	text-align:center;
	color:white;
	width:20px;
	height:25px;
}
.jd_picture{
	width:100%;
	overflow:hidden;
}
.jd_picture>ul>li{
	margin-top:10px;
	width:33.33%;
	float:left;
}
.jd_picture>ul>li>a{
	display:block;
	width:100%;
	border-right:1px solid rgb(192,192,192);
}
.jd_picture>ul>li:last-child>a{
	border-right: none;
}
.jd_picture>ul>li>a>img{
	width:80%;
	display: block;
	margin: 0 auto;
}
.jd_picture>ul>li>p{
	color:red;
	font-size:20px;
	text-align:center;
}
.jd_picture>ul>li>p:last-child{
	color: rgb(102,102,102);
	text-align: center;
	text-decoration: line-through;
}
.supermarket{
	width:100%;
	border-top:1px solid rgb(224,224,224);
	border-left:1px solid rgb(242,237,242);
	border-right:1px solid rgb(242,237,242);
	border-bottom:1px solid rgb(242,237,242);
	overflow:hidden;
}
.size{
	font-size:16px;
	font-weight:bolder;
}
.supermarket>.left{
	float:left;
	width:50%;
}
.supermarket>.right{
	float:right;
	width:50%;
}
.supermarket>.left>img{
	width:100%;
}
.supermarket>.right>img{
	width:100%;
	border-left:1px solid rgb(224,224,224);
}
.supermarket>.combination{
	border-top:1px solid rgb(224,224,224);
}
.supermarket>.joint{
	border-bottom:1px solid rgb(224,224,224);
}